h1 {
    font-size: 14pt;
    margin: 0px;
}

.Container {
    background-color: #eee;
    padding: 5px;
}

.Ship {
    background-color: #ddd;
}

.RequestError {
    color: white;
    background-color: red;
    padding: 5px;
}
